<div class="navigation-item-wrapper">
    <a class="navigation-item" href="tel:123456789">
        <img src="/image/contactPage/phoneicon.png">
        <h3>Talk to Sales</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sunt amet excepturi aliquam doloribus vitae architecto minus temporibus? Quibusdam quis illo saepe minus velit, cupiditate omnis animi rem est ullam.</p>
    </a>
    <a class="navigation-item" href="mailto:alexanderjimhallgren@gmail.com">
        <img src="/image/contactPage/chatbubbles.png">
        <h3>Contact Customer Support</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dicta ipsa quia necessitatibus cupiditate dignissimos! Ipsam doloremque, autem, recusandae ex aut, quidem quod esse dolorem fuga odit saepe natus perferendis!</p>
    </a>
</div>