<div class="contact-section">
    <div class="contact-text-section">
        <h2 class="contact-title">Get in touch</h2>
        <p class="contact-text">Looking to get in touch? We'd love to hear from you, here's how you can reach us.</p>
    </div>
    <img src="https://cdn.create.vista.com/api/media/small/285780842/stock-photo-selective-focus-cheerful-blonde-operator-headset-looking-camera">
</div>