<div class="download-section">
    <div>
        <h2>How do i download your game?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa iure ullam assumenda expedita aliquam, iusto aperiam a soluta repudiandae impedit, animi nesciunt dicta laborum quasi. Voluptas officia quae aperiam eaque.</p>
    </div>
    <div>
        <img src="/image/faqPage/downloadsum.png">
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit ipsa quisquam quae maxime, ullam magnam facere tenetur numquam eum esse deleniti quod? Rerum nemo sunt quaerat aperiam perspiciatis distinctio veritatis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquam excepturi corrupti adipisci deleniti, eligendi expedita commodi nesciunt perferendis.</p>
    </div>
</div>