<div class="event-section-layout" id="navigate-event-section">
    <div class="event-div1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWzbS5no5MrtUI68TqJ001bscMeG-troHHlw&s">
    </div>
    <div class="event-div2">
        <h2>Demonslayer - Collaboration Event</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam modi sequi corrupti, officiis eum architecto facere ex assumenda suscipit earum numquam eaque error dignissimos in deserunt sed ab praesentium sapiente.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta reiciendis eius, officia hic odio voluptatibus doloribus ipsa dolore, labore qui veritatis, animi pariatur. Ea nesciunt quidem eveniet libero inventore.</p>
        <a class="button-style" href="https://en.wikipedia.org/wiki/Demon_Slayer:_Kimetsu_no_Yaiba">What is Demonslayer?</a>
    </div>
    <div class="event-div3">
        <img src="https://preview.redd.it/now-c2s-could-make-the-collab-we-all-want-right-v0-96h44izf06nc1.jpeg?width=640&crop=smart&auto=webp&s=1720de0adf3e4567d7f8da5f9c0e26dac5122839">
    </div>
    <div class="event-div4">
        <h2>Dragon ball Z - Collaboration Event</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam modi sequi corrupti, officiis eum architecto facere ex assumenda suscipit earum numquam eaque error dignissimos in deserunt sed ab praesentium sapiente.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta reiciendis eius, officia hic odio voluptatibus doloribus ipsa dolore, labore qui veritatis, animi pariatur. Ea nesciunt quidem eveniet libero inventore.</p>
        <a class="button-style" href="https://en.wikipedia.org/wiki/Dragon_Ball_Z">What is Dragon ball Z?</a>
    </div>
</div>