<div>
    <div class="<%= templateDiv %>">
        <img src="/image/faqPage/questions.png">
        <h2>Got Questions?</h2>
        <h2>We've Got Answers</h2>
        <p>Here are some frequently asked questions regarding Carlex Corporations</p>
    </div>
</div>