<div>
    <div class="<%= templateDiv %>">
        <img src="/image/faqPage/questions.png">
        <h2>Got Questions?</h2>
        <h2>We've Got Answers</h2>
        <p>Blablablabla lorem blabla bla lorem wow lorem hehehe lorem</p>
        <p>Blablablabla lorem blabla bla</p>
    </div>
</div>