<div class="farming-section-layout" id="navigate-farm-section">
    <div class="farm-div1">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nrP46IHC1sM?si=fmPMcIvUMlXfdPQ-&amp;start=78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="farm-div2">
        <h2>Farming Giants</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae iste architecto nostrum corporis ad? Provident magni dignissimos repellendus nam omnis nisi quis necessitatibus? Incidunt reprehenderit, exercitationem animi repudiandae atque a!</p>
    </div>
    <div class="farm-div3">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pct-g7CbGmE?si=hfMIdYLPFe3Mielv&amp;start=11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="farm-div4">
        <h2>Farming R5</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos non sint provident repudiandae recusandae corrupti, aliquam, modi id maxime sapiente fugiat ipsum minima. Aspernatur libero id odit laboriosam, hic quisquam.</p>
    </div>
    <div class="farm-div5">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kwjJ0tOENP0?si=SWx6VxaD3_pgchbZ&amp;start=11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="farm-div6">
        <h2>How to get scrolls F2P</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus tempore dolore aliquid! Consectetur autem dicta nobis ducimus repellat non iure reprehenderit? Necessitatibus error magnam eius, rerum vitae pariatur accusantium.</p>
    </div>
</div>