<div class="footer-wrapper">
    <div class="company">
        <a href="#"><img id="footer-logo" src="/image/websitelogo.png"></a>
        <h3>Carlex Corporation</h3>
        <p>We strive to bring you the best games right to your phone! We make turnbased monster collecting gacha games and we're the best in the business at what we do.</p>
    </div>
    <div class="browse">
        <h3>Browse</h3>
        <a href="/">Home</a>
        <a href="/collection">Our Collection</a>
        <a href="/summon">How to summon</a>
        <a href="/faq">Faq</a>
        <a href="/contact">Contact us</a>
    </div>
    <div class="services">
        <h3>Services</h3>
        <a>Service 1</a>
        <a>Service 2</a>
        <a>Service 3</a>
        <a>Service 4</a>
        <a>Service 5</a>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <div>
            <img src="/image/footer/placelogo.png">
            <a>Nunya Bissness, Uppsala</a>
        </div>
        <div>
            <img src="/image/footer/gmail.png">
            <a href="mailto:alexanderjimhallgren@gmail.com">Alexanderjimhallgren@gmail.com</a>
        </div>
        <div>
            <img src="/image/footer/phonelogo.png">
            <a href="tel:1234567890">123-456-7890</a>
        </div>
    </div>
</div>
<div class="copyright">
    <p>Copyright 2025</p>
    <a href="#">Privacy Policy</a>
</div>