<div class="header">
    <div>
        <a href="/"><img src="/image/websitelogo.png"></a>
    </div>
    <div class="anchor-wrapper">
        <a href="/">Home</a>
        <a href="/collection">Our collection</a>
        <a href="/summon">How to summon</a>
        <a href="/faq">Faq</a>
        <a href="/contact">Contact us</a>
    </div>
</div>