<div class="image-section">
    <div class="image-section-content">
      <a class="grid-container grid-container-1" href="https://store.steampowered.com/app/2426960/Summoners_War/">
        <img
          src="/image/imageSection/steamsummon.jpg"
        />
        <div class="grid-text-container">
          <div class="grid-text-container-title">
            Download on steam
          </div>
          <div class="grid-text-container-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
            minus quos a maiores distinctio, quod beatae corrupti tenetur.
            Voluptatum quos sint dicta natus iste enim sapiente architecto
            dolores ullam odit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quis minus quos a maiores distinctio, quod
            beatae corrupti tenetur. Voluptatum quos sint dicta natus iste
            enim sapiente architecto dolores ullam odit.
          </div>
        </div>
      </a>
      <a
        class="grid-container grid-container-2"
        href="/summon"
      >
        <img src="/image/imageSection/summoning.png" />
        <div class="grid-text-container">
          <div class="grid-text-container-title">Summoning</div>
          <div class="grid-text-container-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
            minus quos a maiores distinctio, quod beatae corrupti tenetur.
            Voluptatum quos sint dicta natus iste enim sapiente architecto
            dolores ullam odit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quis minus quos a maiores distinctio, quod
            beatae corrupti tenetur. Voluptatum quos sint dicta natus iste
            enim sapiente architecto dolores ullam odit.
          </div>
        </div>
      </a>
      <a
        class="grid-container grid-container-3"
        href="/collection"
      >
        <img src="/image/imageSection/collection.png" />
        <div class="grid-text-container">
          <div class="grid-text-container-title">Our heroes</div>
          <div class="grid-text-container-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
            minus quos a maiores distinctio, quod beatae corrupti tenetur.
            Voluptatum quos sint dicta natus iste enim sapiente architecto
            dolores ullam odit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quis minus quos a maiores distinctio, quod
            beatae corrupti tenetur. Voluptatum quos sint dicta natus iste
            enim sapiente architecto dolores ullam odit.
          </div>
        </div>
      </a>
      <a
        class="grid-container grid-container-4"
        href="/faq"
      >
        <img src="/image/imageSection/programmers.webp" />
        <div class="grid-text-container">
          <div class="grid-text-container-title">FAQ-page</div>
          <div class="grid-text-container-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
            minus quos a maiores distinctio, quod beatae corrupti tenetur.
            Voluptatum quos sint dicta natus iste enim sapiente architecto
            dolores ullam odit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quis minus quos a maiores distinctio, quod
            beatae corrupti tenetur. Voluptatum quos sint dicta natus iste
            enim sapiente architecto dolores ullam odit.
          </div>
        </div>
      </a>
      <a
        class="grid-container grid-container-5"
        href="/contact"
      >
        <img src="/image/imageSection/contactimage.jpg" />
        <div class="grid-text-container">
          <div class="grid-text-container-title">Contact</div>
          <div class="grid-text-container-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
            minus quos a maiores distinctio, quod beatae corrupti tenetur.
            Voluptatum quos sint dicta natus iste enim sapiente architecto
            dolores ullam odit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Quis minus quos a maiores distinctio, quod
            beatae corrupti tenetur. Voluptatum quos sint dicta natus iste
            enim sapiente architecto dolores ullam odit.
          </div>
        </div>
      </a>
    </div>
</div>