<div class="summon-grid-layout">
    <div class="div1">
        <img src="/image/summonPage/mysticalScroll.png"/>
    </div>
    <div class="div2">
        <h2>There are a several ways to perform a Summoning Ritual</h2>
        <p>In summoners war you can get your hands on many variations of "Summoning Scrolls" that allows you to perform a summoning ritual.</p>
        <p>The most common scroll however is the Mystical Scroll ("See the picture"). This scroll allows the Summoner to summon for 3-5 Star units, however its only excluded to the Water, Wind and Fire elements.</p>
        <p>There are currently 7 types of scrolls that performs the summoning ritual, but you can also acquire "Summoning Shards" for certain units with ingame methods.</p>
    </div>
    <div class="div3">
        <h3>"That sounds amazing, how do i get them?"</h3>
        <p>You're fully able to get your hand on these scrolls ingame through a variety of activities, such as events/farm based content. <br> We do however offer a wide variety of packages & deals to make sure you can keep your gambling addiction intact if you decide to swipe your card to your hearts contempt.</p>
        <div class="div3-buttons">
            <a class="button-style" href="#navigate-event-section">What kind of events?</a>
            <a class="button-style" href="#navigate-farm-section">What is "farm" content?</a>
        </div>
    </div>
</div>
