<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <div class="skewed-hero-wrapper">
        <div id="skew-hero" class="skew">
            <div class="content">
                <h2>Homepage</h2>
                <a href="#">Get Started</a>
            </div>
        </div>
        <div id="skew-hero1" class="skew">
            <div class="content">
                <h3>Carlex Corporation</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum beatae optio maxime doloremque aliquid impedit obcaecati consequuntur, omnis, odit inventore delectus totam, ut sed dignissimos unde repellat error ullam architecto!</p>
            </div>
        </div>
    </div>
    <%- include("../partials/imageSection.ejs")%>
</body>
</html>